button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    font-weight: 900;
    background-image: linear-gradient(90deg, red, orange);
    cursor: pointer;
    transition: color 300ms;
    margin-top: 20px;
}

button:hover {
    border: 3px solid red;
    background-image: none;
    background-color: #121212;
    color: red;
}
